CVORTEX_PORT=8080

APP_NAME=CVortex
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080
LOG_LEVEL=debug

POSTGRES_DB=cvortex
POSTGRES_USER=cvortex
POSTGRES_PASSWORD=generated-by-make-init

REDIS_DB=0
REDIS_CACHE_DB=1
